<div class="footer">
  <div class="childFooter">


    <div class="boxFooter">
      <div class=" text-center text-white-50">
        <a class="btn btn-success wow slideInUp" data-wow-duration="1.5s" target="_blank" href="{{ ws }}"><i class="fab fa-whatsapp"></i> +51 971 888 294 </a> <br>
        <!-- <a href="mailto:ddago@gmail.com"><i class="fas fa-envelope mt-3 text-white btn btn-outline-info wow slideInDown" data-wow-duration="1.5s"> ddago@gmail.com </i></a> -->
      </div>
    </div>

  </div>

z

  <p class="text-center text-white-50 p-3 py-5">
      Copyright © 2011 - {{ anio }}, Todos los derechos reservados de <strong> {{ title }}</strong>
  </p>
</div>
